.page-header{
    text-align: left;
    text-decoration: underline;
    
    
}

.col-md-9{
    font-size: 22px;

}

.col-md-6 {
    font-style: oblique;
    text-align: center;
    font: small-caption;
    
}

